@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Condensed"),
    url("./assets/fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Condensed"), url("./assets/fonts/RobotoCondensed-Bold.ttf");
}

* {
  font-family: "Roboto Condensed";
}

.container {
  box-sizing: border-box;
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 174px 0 166px;
}
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
